body {
    background-color: #907123;
    font-family: 'Lato', 'sans serif'
}    

.recolor {
    background-image : linear-gradient(to left, #F5F5F5 50%, #F5F5DC 50%);
    height: 95vh;

}

/*Haut de page*/
.new-game {
    text-align: center;
    padding-top: 50px;
    font-size: 35px;
}
.bi-plus-circle {
    color: #FF6961;
    padding-right: 8px;
}

/*players*/
.players {
    height: 20vh;
    text-align: center;
    font-size: 53px;
}
.player1, .player2, .vide {
    width: 35vh;
}

/*dés*/
.diceBox {
    background-color: white;
}
.dice {
    width: 100%;
    height: 95%;
}
#dice1, #dice2, #dice3, #dice4, #dice5, #dice6, #dot2 {
    display: none;
}
/*scores*/
.globalScores, .current-scores {
    height: 25vh;   
}
.globalScore1, .diceBox, .globalScore2, .current-score1, .roll-hold, .current-score2 {
    width: 25vh;
}
.globalScore1, .globalScore2 {
    font-size: 135px;
    color: #FF6961;
}

.current-score1, .current-score2 {
    background-color: #FF6961
}
.current {
    font-size: 35px;
}
.currentScore1, .currentScore2 {
    color: white;
    font-size: 44px;
}
.roll-hold {
    font-size: 20px;
}
.dice, .bi-arrow-repeat, .bi-box-arrow-in-down, .bi-circle-fill {
    color: #FF6961;
}









/*.players, .bi-dice-1, .player1, .vide, .player2, .globalScores, .globalScore1, .dice, .globalScore2, .current-scores, .current-score1, .currentScore1, .currentScore2, .current, .roll-hold, .current-score2, .roll, .hold{
    border: solid;
    margin-top: 20px;
}